:root {
    --modfest-accent: rgb(123, 39, 255);
    --modfest-accent-dark: rgb(105, 26, 231);
    --modfest-accent-darker: rgb(105, 26, 231);
    --modfest-main: rgb(255, 255, 255);
    --modfest-main-light: rgb(243, 243, 243);
    --modfest-text: #000000;
}