{% extends 'layout_old.html' %}

{% block content %}
{% block event_content %}{% endblock %}
<br>
<div class="level">
  <div class="level-item">
    <div class="is-grouped">
      <a class="button is-primary is-outlined" href="https://discord.gg/gn543Ee" target="_blank">
        <span class="icon">
          <i class="fab fa-discord"></i>
        </span>
        <strong>Join our Discord Server</strong>
      </a>
      {% if event.state == 2 or event.state == 4 %}
      <a class="button is-primary is-outlined" href="{{ url_for('frontend.route_entries', event=event.name) }}">
        <strong>View Entries</strong>
      </a>
      {% elif event.state == 3 %}
      <a class="button is-primary is-outlined" href="{{ url_for('frontend.route_entries', event=event.name) }}">
        <strong>View Entries</strong>
      </a>
      <a class="button is-primary is-outlined" href="{{ url_for('frontend.route_entries', event=event.name) }}">
        <strong>Vote</strong>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}