{% extends 'event_layout.html' %}

{% block event_content %}
<h3>Welcome to ModFest 1.14!</h3>
<p>
	ModFest 1.14 was a Fabric modding event that ran from <b>April 20th, 2019</b> to <b>April 27th, 2019.</b>.
</p>

<h3>Requirements:</h3>
<ul>
	<li>Minecraft 1.14</li>
	<li>Fabric Loader</li>
	<li>Mods must be created roughly between April 20th and April 27th</li>
</ul>
<h3>Info:</h3>
<ul>
	<li>No Voting</li>
	<li>No Pressure</li>
	<li>Just Make Mods</li>
</ul>
<br>
<p>
	After this ModFest was conducted, one mod was released.
</p>
{% endblock %}