{% extends 'event_layout.html' %}

{% block event_content %}
<h3>Welcome to ModFest 1.16!</h3>
<p>
	ModFest 1.16 is a modding event that ran from Friday, June 12th thru Thursday, June 25th, 2020. ModFest is a great
	excuse to try
	something new, practice your modding abilities, get starting on a new mod you've been thinking about, or any other
	reason to make a mod.
</p>
<p>
	ModFest 1.16's modding period is now over! Please wait while we assemble the ModFest 1.16 Mod Pack and server until
	polling can begin.
</p>
<h3>Entry requirements:</h3>
<ul>
	<li>Runs on Minecraft 1.16.1 with Fabric Loader. See 'Version' section below for more info.</li>
	<li>Cannot cause massive compatibility issues with other entries</li>
	<li>Mods must be created for this event in the allotted time period. This begins on the first second of June 12th
		UTC, and ends on the very last second of June 25th UTC.</li>
	<li>Use of one of the themes is encouraged. Not doing so will put you at a disadvantage when it comes to awards</li>
	<li>All team members must be present in the <a href="https://discord.gg/gn543Ee" target="_blank">ModFest Discord
			Server</a></li>
	<li>
		Using pre-created libraries, assets, or code is fine if they were not made specifically for your entry. The
		following are some acceptable use cases (but not all):
		<ul>
			<li>Using a library you or someone else made as long as it wasn't made with the intention of using it for
				your ModFest entry</li>
			<li>Using public domain assets or assets you made in the past that were not made specifically for your
				ModFest entry</li>
			<li>Using open source code (of yours or someone else) that was not made specifically for your ModFest entry
			</li>
		</ul>
	</li>
</ul>
<h3>You can work:</h3>
<ul>
	<li>By yourself</li>
	<li>With a team of your choosing</li>
	<li>With a team randomly assigned to you</li>
</ul>
<h3>Themes:</h3>
<ul>
	<li>Adventure</li>
	<li>Fantasy</li>
	<li>Sci-Fi</li>
</ul>
<h3>Awards:</h3>
<p>
	ModFest awards are just for fun and ModFest is not a highly competitive event. The ultimate goal of the event is
	simple: to make mods and have
	a good time doing it. If you stress about the awards the whole time, you probably won't have as much fun.
</p>
{% endblock %}